<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<ui:composition template="/WEB-INF/templates/default.xhtml">
	<ui:define name="head">
		<title>Hello JSF Bootstrap</title>
		<!-- Custom styles for this template -->
		<h:outputStylesheet name="css/starter-template.css" />
		<h:outputScript name="js/xmlContentFeedReader.js" />
	</ui:define>
	<ui:define name="body">
		<div class="container">

			<p:tabView>
				<p:tab title="Announcement">
					<ul class="list-group" id="announcement-feeds"></ul>
				</p:tab>

				<p:tab title="XML Content">
					<ui:include src="pages/news.xhtml"></ui:include>
					
				</p:tab>
			</p:tabView>

		</div>
	</ui:define>
</ui:composition>
</html>