<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<h:outputScript name="/resources/js/xmlContentFeedReader.js" />

	<ul class="list-group" id="xml-feeds" />


</ui:composition>
