/* Core styles for the page */
body {
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.7em;
  color: black;
}

#container {
  margin: 0 auto;
  padding: 0 20px 10px 20px;
  border: 5px solid #8c8f91;
  width: 905px;
  padding: 20px;
  overflow: auto;
}
#content {
  width: 100%;
  margin: 20px;
}
#content a {
	text-decoration: none;
	color: inherit;	
}
span.title {
	display:block;
	font-weight: bold;
}
span.date {
	font-style: italic;
	float: right;
}
i {
	float: left;
	margin: 0 1em 0 1em;
}
.records {
	border: 1px solid #8c8f91;
}
.record {
	padding: 0.5em;
	border-top: 1px solid #8c8f91;
}
.record:hover {
	background-color: #d7d2d2;
}