body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.modalTrigger {
	cursor: pointer;
}
.list-group-item:not(#myModal):hover {
	background-color: #ddd;
}